{% extends 'base.html.twig' %}

{% block title %}Comptes{% endblock %}

{% block body %}
    <h1>Comptes</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ compte.nom }}</td>
            </tr>
            <tr>
                <th>Solde</th>
                {% if compte.lastTransaction is not null %}
                    <td> {{ compte.lastTransaction.solde }}</td>
                {% else %}
                    <td> 0 </td>
                {% endif %}
            </tr>
        </tbody>
    </table>

    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Solde</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in compte.transactions %}
                <tr>
                    </td>{{ transaction.datestring }}</td>
                    </td>{{ transaction.solde }}</td>
                </tr>
            {% else %}
            <tr>
                <td colspan="2">Aucune transaction enregistrée.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
