{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
<h1>Bienvenue chez TP2-BANK !</h1>
<p>Vous pouvez accédez aux comptes en cliquant <a href="{{ path('comptes_index')}}">ici</a></p>
{% endblock %}
