{% extends 'base.html.twig' %}

{% block title %}Hello LoginController!{% endblock %}

{% block body %}
<div class="login_block">
    <h1>Identification</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
            <button class="btn">{{ button_label|default('Connexion') }}</button>
    {{ form_end(form) }}
</div>
{% endblock %}
